(graph_state:(graph:(nodes:[(value:None,version:0)],inputs:[(value:None,version:0)],outputs:[(value:None,version:0)],connections:[(value:None,version:0)]),node_order:[],connection_in_progress:None,selected_nodes:[],ongoing_box_selection:None,node_positions:[(value:None,version:0)],node_finder:None,pan_zoom:(pan:(x:0.0,y:0.0),zoom:0.0),_user_state:()))